<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesAndInventorySystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SalesAndInventorySystem.My.MySettings.saisConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\SCHOOL FILES\SalesAndInventorySystem\SalesAndInventorySystem\sais.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SalesAndInventorySystem.My.MySettings>
            <setting name="DarkMode" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
        </SalesAndInventorySystem.My.MySettings>
    </userSettings>
</configuration>